/* importando os componentes */
@import url('components.css');
@import url('microInt.css');



/* definindo a root do projeto */
:root{
    /* ui colors */
    --primary: #15A6D5;
    --primaryHover: #1185AA;
    --primaryActive: #D7F0F9;

    /**** light mode -- default */
    --bgLight: #ffff;
    --bgSection: #F5F5F5;
    --textNormal: #1C1C22;
    --textDisable: #D3D3D7;
    --redLight: #FD1C1C;

    /**** dark mode */
    --bgDark: #1D242D;
    --bgSection_dark: #151A20;
    --textDdark: #D3D3D7;
    --redDark: #F94343;


    /* spaces padding and margins */
    --paddingSection: 2rem;
    --paddingComponent: 1rem;
    --marginSection: 2rem;


    /* font styles */
    --fontFamily: 'Roboto', 'Arial', 'sans-serif';
    --fontsizeH1: ;
    --fontsizeH2: ;
    --FontsizeH3: ;
    --fontsizeTexts: ;
    --fontsizeNav: ;
}


/* reset defaults styles */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

ul{ list-style-type: none;}
a{text-decoration: none;}


/* styles for global components */
.root{
    display: grid;
    grid-template-areas:
    "aside header"
    "aside main";
    width: 100%; height: 100%;
    position: relative;
    font-family: var(--fontFamily);
}






@media screen and ( max-width: 1000px ){
    .sidebar{display: none;}
    .headerMobile{display: flex};
}

@media screen and ( min-width: 1001px ){
    .sidebar{display: flex;}

    .headerMobile{display: none;};
}
    
