/* estilo das micro interações do app */
@import url(app.css);

/*side bar */
.navItemLink:active{
    background-color: var(--primaryActive);
}


/* search bar */
#searchBar:focus{
    outline-color: var(--primary);
}

/* animation for loading */
@keyframes spinningImg{
    from{transform: rotateZ(0deg);}
    to{transform: rotateZ(360deg);}
}

.loadingImg{
    animation: spinningImg 1s linear infinite;
}